@charset "UTF-8";

/* ---- 画面の大枠のレイアウト用CSS ---- */

/* ---- 共通 ---- */
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

html, body {
	height: 100%;
	min-width: max-content;
}

.content {
	flex: 1;
	min-height: 0;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	width: 920px;
	margin: 0px auto;
}

article {
	width: 700px;
	padding-left: 20px;
	
	display: flex;
	flex-direction: column;
	min-height: 0;
}

.login {
	width: 100%;
}

/* ---- ヘッダー ---- */
header {
	height: 60px;
	width: 100%;
	background-color: #87CEEB;
	padding-top: 10px;
	min-width: max-content;
}

header.admin-style {
	background-color:#1F2A44;
	color:#F2F4F8;
}

header .user_info a.admin-style {
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #B8C1D9;
}


header .title {
	margin-left: 10px;
	line-height: 45px;
	font-size: 25pt;
}

header .user_info {
	margin-right: 20px;
	line-height: 45px;
	text-align: right;
}

header .user_info a {
	text-decoration: none;
}

/* ---- サイドバー ---- */
aside {
	width: 13em;
}

aside .title {
	background-color: #add8e6;
	margin: 5px 0px 10px 10px;
	padding: 3px;
	font-weight: bold;
}

aside.admin-style .title{
	background-color:#1F2A44;
	color:#F2F4F8;
}

aside .form {
	padding-left: 15px;
}

aside input[type=text] {
	width: 110px;
	margin-right: 10px;
}

aside select {
	margin: 0px 10px 0px 0px;
	width: 8.85em;
	display: block;
	height: 1.6em;
}

aside input[type=submit] {
	width: 4em;
	margin-right: 5px;
}

aside .csv-sidebar-form form{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}



.sidebar-form form {
    width: 12em;
    display: flex;
    justify-content: space-between;
    height: 1.4em;
    align-items: flex-end;
}


.csv-actions div{
    width: 12em;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 0.5em;
}

.csv-actions .btn {
  display: inline-block;
  padding: 0.2em;
  border: 1px solid #808080;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
  width: 12em;
  font-size: 0.8em;
}

.csv-actions .btn:hover {
    background-color: rgba(200, 200, 200, 0.3);
}

/* ---- メイン ---- */
article {
	
	width: 700px;
	padding-left: 20px;
}


/* ---- フッター ---- */
footer {
	height: 30px;
	background-color: #87CEEB;
	text-align: center;
	font-size: 8pt;
	line-height: 30px;
}

footer.admin-style {
	background-color:#1F2A44;
	color:#F2F4F8;
}

