<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>社員一覧 | 社員管理システム</title>
	<meta charset="UTF-8" />
</head>

<body class="admin user_list">

<h2>【CSV入力】ファイルアップロード画面</h2>
<div class="sample-csv-form">
<h4>入力用サンプルCSV</h4>
<form method="get"
      th:action="@{/csv/export?csvType=2}"
      enctype="multipart/form-data">

    <button type="submit">ダウンロード</button>
</form>
</div>

<h3>登録</h3>
<form method="post"
      th:action="@{/csv/import/regist}"
      enctype="multipart/form-data">

    <input type="file" name="file" accept=".csv">
    <button type="submit">CSVアップロード</button>
</form>

<h3>更新</h3>
<form method="post"
      th:action="@{/csv/import/update}"
      enctype="multipart/form-data">

    <input type="file" name="file" accept=".csv">
    <button type="submit">CSVアップロード</button>
</form>




</body>
</html>