<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(body)">
<head lang="ja">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/list.css}" />
<script th:inline="javascript">
  const FRAGMENT_URL = /*[[@{/list/fragment}]]*/ "/list/fragment";
  const searchType = /*[[${searchType}]]*/ 1;
</script>
<script th:src="@{/js/employee-form.js}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{/js/pagingList.js}"></script>
<title>社員管理システム</title>
</head>
<body>
	<!--/* ヘッダー */-->
	<header th:classappend="${session.loginUser.authority == 2} ? 'admin-style' : ''">
		<div th:replace="~{common/header :: layout-header}"></div>
	</header>
	<div class="content">
		<!--/* サイドバー */-->
		<aside th:classappend="${session.loginUser.authority == 2} ? 'admin-style' : ''">
			<div th:replace="~{common/sidebar :: layout-sidebar}"></div>
		</aside>
		<!--/* メイン */-->
		<article class="main">
			<div th:replace="${body}"></div>
		</article>
	</div>
	<!--/* フッター */-->
	<footer th:classappend="${session.loginUser.authority == 2} ? 'admin-style' : ''">
		<div th:replace="~{common/footer :: layout-footer}"></div>
	</footer>
</body>
</html>
